<header>
	<div class="navbar-fixed">
		<nav id="navStyle" role="navigation" class="blue-grey">
		  <div class="nav-wrapper container">
		    <a id="logo-container" href="/" class="brand-logo">Rainbow Realty</a>
		    <ul class="right hide-on-med-and-down">
		      <li><a href="/search">Agent Search</a></li>
		      <li><a href="/about">About Us</a></li>
		      <li><a href="#">Contact Us</a></li>
		      {{#if user}}
		        <li><a class="dropdown-button" href="#" data-activates="dropdown1" data-beloworigin="true">
		        {{#if user.local.firstName}}
		        	Hi! {{user.local.firstName}}
		        {{else}}
		        	{{user.local.email}}
		        {{/if}}
		        </a></li>
		        <ul class="dropdown-content" id="dropdown1">
		        	<li><a href="/profile">Profile</a></li>
		        	<li><a href="/logout">Logout</a></li>
	        	</ul>
		      {{else}}
		        <li><a href="/login">Agent Login</a></li>
		        <li><a href="/signup">Agent Signup</a></li>
		      {{/if}}
		    </ul>

		    <ul id="nav-settings" class="side-nav">
		      <li><a href="/search">Agent Search</a></li>
		      {{#if user}}
		        <li><a href="/profile">Hi, {{user.firstName}}!</a></li>
		        <li><a href="/logout">Logout</a></li>
		      {{else}}
		        <li><a href="/login">Agent Login</a></li>
		        <li><a href="/signup">Agent Signup</a></li>
		      {{/if}}
		      <li><a href="/about">About Us</a></li>
		      <li><a href="#">Contact Us</a></li>
		    </ul>
		    <a href="#" data-activates="nav-settings" class="button-collapse right"><i class="material-icons">more_vert</i></a>
		  </div>
		</nav>
	</div>
</header>