{{> nav}}

<main>
	<h4 class="center-align">Admin</h4>
	<hr>
	<div class="container">
		<div class="row" style="margin-top:20px">
			<form class="col l12">
				<div class="row">
					<div class="input-field col l4">
				    <select>
				      <option value="" disabled selected>Choose your option</option>
				      <option value="1">Verified</option>
				      <option value="2">Unverified</option>
				    </select>
				    <label>Sort by verification</label>
					</div>
					<div class="input-field col l4">
				    <select>
				      <option value="" disabled selected>Choose your option</option>
				      <option value="1">Frozen</option>
				      <option value="2">Open</option>
				    </select>
				    <label>Sort by frozen</label>
					</div>
					<div class="input-field col l4">
		      	<i class="material-icons prefix">search</i>
	          <input id="search" type="search" required>
	          <label for="search">Search by name</label>
		      </div>
	      </div>
			</form>
		</div>
		<div class="row">
			<div class="col l12">
				<div id="results">

				</div>
			</div>
		</div>
		<div class="row">
		{{#each agent}}
			{{#if this.local.isVerified}}
			{{else}}
				<div class="card horizontal pending">
		      <div class="card-stacked">
		        <div class="card-content">
		          <p>Name: {{this.local.firstName}} {{this.local.lastName}}</p>
		          <p>Email: <a href="mailto:{{this.local.email}}">{{this.local.email}}</a></p>
		          <p>License Type: {{this.local.license}} / License Year: {{this.local.license_year}}</p>
		          <p>Bio: {{this.local.bio}}</p><br>
		          <p>Specialties: {{this.local.specialties}}</p><br>
		          <p>Distinctions: {{this.local.distinctions}}</p>
		        </div>
		        <div class="card-action">
    					<form action="/verified/{{this._id}}?_method=put" method="POST">
								<button class="btn green adminButton" type="submit">verify</button>
							</form>
		        </div>
		      </div>
		    </div>
			{{/if}}
		{{/each}}
		</div>
	</div>
</main>

{{> footer}}